---
import { SITE } from "../consts";
import { Icon } from "astro-icon";
import Search from "./Search";
import LightningButton from "./LightningButton.astro";
import ThemeToggleButton from "./ThemeToggleButton.astro";
import { getCollection } from "astro:content";

type Props = {
  currentPage: string;
};

const docs = await getCollection("docs", ({ id }) => {
  return !id.endsWith("index.md");
});

function parseMarkdown(doc: any) {
  const markdownContent = doc.body;
  const title = doc.data.title;
  const slug = doc.slug;

  // Split by line
  let lines = markdownContent.split("\n");

  let parsedContent = [];
  let currentHeader = null;

  for (let line of lines) {
    // Check if line is a header
    if (line.startsWith("#")) {
      // Start new header
      currentHeader = line.replace(/#/g, "").trim();
    }

    // Else, it's a paragraph. Add it to parsedContent with the currentHeader
    else if (line.trim().length > 0) {
      if (line.trim().startsWith("```")) {
        continue;
      }
      // ignore empty lines
      parsedContent.push({
        title,
        header: currentHeader,
        paragraph: line.trim(),
        slug,
      });
    }
  }

  return parsedContent;
}

const parsed_markdown = docs.map((doc) => {
  return parseMarkdown(doc);
});

// console.log(parsed_markdown);
---

<header class="max-w-8xl mx-auto">
  <div
    class="py-4 border-b border-gray-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0"
  >
    <nav
      class="relative flex justify-between items-center"
      title="Top Navigation"
    >
      <a
        class="mr-3 flex flex-row gap-2 w-[2.0625rem] overflow-hidden md:w-auto text-xl"
        href="/"
      >
        <Icon class="w-7 h-7 cursor-pointer" name={"ph:planet-fill"} />
        <h1 class="hidden lg:block">{SITE.title ?? "Documentation"}</h1>
      </a>

      <!-- <Icon class="w-8 h-8 cursor-pointer lg:hidden" name={"mdi:menu"} /> -->
      <div class="flex flex-row gap-6">
        <Search client:load searchList={parsed_markdown.flat()}>
          <Icon className="w-5 h-5 mr-1" name="mdi:search" />
        </Search>
        <ThemeToggleButton />
        <a class="flex justify-between items-center" href="#">
          <svg
            class="w-8 h-8"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="icon-bolt"
            ><circle cx="12" cy="12" r="10" class="primary"></circle><path
              class="secondary"
              d="M14 10h2a1 1 0 0 1 .81 1.58l-5 7A1 1 0 0 1 10 18v-4H8a1 1 0 0 1-.81-1.58l5-7A1 1 0 0 1 14 6v4z"
            ></path></svg
          >
        </a>
        <!-- <LightningButton /> -->
      </div>
    </nav>
  </div>
</header>

<style>
  .primary {
    fill: #7c3aed;
  }

  .secondary {
    fill: #fff;
  }

</style>
