---
import { SITE } from "../consts";
import { Icon } from "astro-icon";
import Search from "./Search";
import LightningButton from "./LightningButton.astro";
import ThemeToggleButton from "./ThemeToggleButton.astro";
import { getCollection } from "astro:content";

type Props = {
  currentPage: string;
};

const docs = await getCollection("docs");
---

<header class="max-w-8xl mx-auto">
  <div
    class="py-4 border-b border-gray-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0"
  >
    <nav
      class="relative flex justify-between items-center"
      title="Top Navigation"
    >
      <a
        class="mr-3 flex flex-row gap-2 w-[2.0625rem] overflow-hidden md:w-auto text-xl"
        href="/"
      >
        <Icon class="w-8 h-8 cursor-pointer" name={"ph:planet-fill"} />
        <h1>{SITE.title ?? "Documentation"}</h1>
      </a>

      <Icon class="w-8 h-8 cursor-pointer lg:hidden" name={"mdi:menu"} />
      <div class="flex flex-row gap-6">
        <ThemeToggleButton />
        <Search client:only={"preact"} searchList={docs}>
          <Icon className="w-5 h-5 mr-1" name="mdi:search" />
        </Search>
        <LightningButton />
      </div>
    </nav>
  </div>
</header>
