---
import { Icon } from "astro-icon";
---

<button class="flex gap-2 justify-center bg-gray-800 items-center p-1 rounded-md text-white hover:text-yellow-400">
  <Icon class="w-5 h-5 text-inherit" name="ph:lightning-fill" />
  <span class="text-white font-semibold mr-1">Donate</span>
</button>
