---
// const { page } = Astro.props;
---

<div class="mt-24 flex justify-between">
  <a
    class="text-gray-800 no-underline rounded-xl border-2 border-gray-800 text-sm px-4 py-2 mr-auto"
    href={"/#"}
  >
    Prev</a
  >
  <a
    class="text-gray-800 no-underline rounded-xl border-2 border-gray-800 text-sm px-4 py-2 ml-auto"
    href={"/#"}
  >
    Next</a
  >
</div>
