---
import { Icon } from "astro-icon";
---

<button class="justify-center items-center rounded-full hidden lg:flex">
  <!-- <Icon class="w-5 h-5 text-white hover:text-orange-400" name="ph:sun" /> -->
  <Icon class="w-8 h-8 text-orange-500" name="ph:sun" />
  <!-- <span cass="text-white">|</span> -->
  <!-- <Icon class="w-5 h-5 text-white hover:text-violet-400" name="ph:moon" /> -->
</button>
